html {
  font-family: "Noto Sans", sans-serif;
}

.noto {
  font-family: "Noto Sans Japanese";
}

.btn-ghost {
  color: #b64c6e;
  border: 2px solid #d89fb0;
}

.btn-ghost:hover {
  color: #860927;
  background-color: #d89fb0;
  border: 2px solid #b64c6e;
}

h1, nav {
  text-align: center;
}

nav a {
  color: #b64c6e;
  border-bottom: 2px solid #d89fb0;
  text-decoration: none;
  font-family: "Noto Sans";
}

nav a:hover {
  color: #860927;
}

h2 {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
  text-align: center;
  max-width: 23em;
  width: 100%;
}

.gardens {
  border-bottom: 2px solid #e2e2e2;
}

footer {
  color: #666;
}

@media only screen and (min-width: 20em) {

  .symbolism-1 {
    display: block;
  }

  .symbolism-2 {
    display: none;
  }

}

@media only screen and (min-width: 38em) {

  .symbolism-1 {
    display: none;
  }

  .symbolism-2 {
    display: block;
  }

}

@media only screen and (min-width: 60em) {

  .symbolism-1 {
    display: block;
  }

  .symbolism-2 {
    display: none;
  }

}
