html {
  font-family: "Noto Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.noto {
  font-family: "Noto Sans Japanese";
}

.btn-ghost {
  color: #b64c6e;
  border: 2px solid #d89fb0;
}

.btn-ghost:hover {
  color: #860927;
  background-color: #d89fb0;
  border: 2px solid #b64c6e;
}

h1, nav {
  text-align: center;
}

nav a {
  color: #b64c6e;
  border-bottom: 2px solid #d89fb0;
  text-decoration: none;
  margin: 0 .35em;
  padding-bottom: .25em;
}

nav a:hover {
  color: #860927;
}

h2 {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
  text-align: center;
}

@media only screen and (min-width:60em) {

  h1 {
    text-align: left;
  }

  nav {
    text-align: right;
  }

}
